---

# The cloud from ~/.config/openstack/clouds.yml to use
auth:
  cloud: dreamcompute

discourse:

  # Name of the network to put the server on
  private_net: "private-network"

  # The name of the server to create
  server_name: "discourse1-staging"

  # the name of the volume to create
  volume_name: "discourse-volume-staging"

  # the size in GB of the volume to attach to /var/discourse on the server
  volume_size: 30

  # Nova flavor to use
  flavor: 300

  # OS image to use
  image: Ubuntu-16.04

  ## How many concurrent web requests are supported? Depends on memory
  ## and CPU cores. Rule of thumb: 2 per vCPU
  unicorn_workers: 8

  # Set db_shared_buffers to a max of 25% of the total memory.
  db_shared_buffers: "1024MB"
  db_work_mem: "40MB"

  # DNS name for your server
  hostname: "discourse.example.com"

  # The email address for the service admin
  admin_email: "admin@example.com"

  # SMTP Configs
  smtp_server: "discourse.example.com"
  smtp_port: ""
  smtp_user: "postmaster@discourse.example.com"
  smtp_password: ""
  #smtp_authentication: "plain"

  # If you want discourse to send emails from a different domain than your discourse
  # hostname, set "sending_email" to that email so discourse knows to use it
  #sending_email: "noreply@example.com"

  #lets_encrypt_email: "admin@example.com"

  # List of plugin repos to clone and install
  plugins:
    - "https://github.com/discourse/docker_manager.git"

  # Discourse git reference to use, defaults to tests-passed if undefined
  #version: stable

  # List of IPs to associate to the server, defaults to auto_ip if undefined
  #ips:
    #- "IP_ADDR_HERE"

# ssh key to put on the server
key_name: raynor
